<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chemguan.dao.PcColumRepository">
    <resultMap id="BaseResultMap" type="com.chemguan.entity.PcColum">
            <id column="colum_id" jdbcType="INTEGER" property="columId"/>
            <result column="colum_name" jdbcType="VARCHAR" property="columName"/>
            <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
            <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
            <result column="order_val" jdbcType="INTEGER" property="orderVal"/>
    </resultMap>

    <!--<cache type="com.chemguan.business.core.util.RedisCache"/>-->
</mapper>